*,
*::before,
*::after {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.5; }

.container {
  height: 100vh;
  width: 100%;
  background-color: #4b4b4b;
  overflow-x: hidden; }

.header {
  width: 100%;
  background-color: #3d3d3d; }

.bookmarks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  justify-items: center;
  align-items: center;
  padding: 3rem 2rem;
  background-color: #4b4b4b; }

.bookmark-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0; }
  .bookmark-form__group {
    width: 100%;
    height: 30%;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .bookmark-form__label {
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: 1px;
    color: #e66767;
    margin-bottom: 0.5rem; }
  .bookmark-form__input {
    display: block;
    width: 80%;
    font-size: 1.5rem;
    font-family: "Open Sans", sans-serif;
    border: none;
    padding: 1rem 2rem;
    border-bottom: 3px solid transparent;
    transition: all .3s;
    color: #3d3d3d; }
    .bookmark-form__input:focus {
      outline: none;
      border-bottom: 3px solid #ea8685;
      box-shadow: 0 0.4rem 0.8rem rgba(255, 255, 255, 0.1); }
  .bookmark-form__btn {
    display: block;
    margin: 2rem 0;
    padding: 1rem 2rem;
    border: none;
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 2rem;
    color: #ffffff;
    background-image: linear-gradient(to right bottom, #ea8685, #e66767);
    outline: none; }
    .bookmark-form__btn:hover {
      cursor: pointer;
      background-image: linear-gradient(to right bottom, #e66767, #ea8685);
      box-shadow: 0 0.4rem 0.8rem rgba(255, 255, 255, 0.1); }

.bookmark {
  height: 8rem;
  width: 8rem;
  position: relative; }
  .bookmark__name {
    background-color: #3d3d3d;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    color: #ffffff;
    font-size: 1.3rem;
    text-align: center;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: all .3s; }
    .bookmark__name:hover {
      color: #e66767;
      background-color: rgba(61, 61, 61, 0.7); }
  .bookmark__delete {
    position: absolute;
    top: 0;
    left: 100%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    background-color: #3d3d3d;
    border: 2px solid #e66767;
    text-decoration: none;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    border-radius: 50%;
    padding: 0.2rem;
    font-weight: 700;
    text-align: center;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all .3s; }
    .bookmark__delete:hover {
      background-color: #ea8685; }
