*,
*::before,
*::after {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.5; }

.container {
  height: 100vh;
  width: 100%;
  background-color: #4b4b4b;
  overflow-x: hidden; }

.header {
  width: 100%;
  background-color: #3d3d3d;
  position: relative; }

.bookmarks {
  max-width: 100rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  justify-items: center;
  align-items: center;
  padding: 8rem 2rem;
  box-sizing: border-box;
  background-color: #4b4b4b; }
  @media only screen and (max-width: 25em) {
    .bookmarks {
      padding: 8rem 1rem; } }
  @media only screen and (min-width: 31.25em) {
    .bookmarks {
      grid-template-columns: repeat(4, 1fr); } }
  @media only screen and (min-width: 43.75em) {
    .bookmarks {
      grid-template-columns: repeat(5, 1fr); } }
  @media only screen and (min-width: 56.25em) {
    .bookmarks {
      grid-template-columns: repeat(6, 1fr); } }

.form-toggler {
  position: absolute;
  left: 50%;
  bottom: -4rem;
  transform: translateX(-50%);
  transition: all .5s ease; }
  .form-toggler__icon {
    font-size: 3.5rem;
    color: #e66767;
    cursor: pointer;
    z-index: 10; }
  .form-toggler.active {
    transform: translateX(-50%) rotate(540deg); }

@keyframes formFadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.bookmark-form {
  height: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  max-width: 120rem;
  margin: 0 auto; }
  .bookmark-form.active {
    display: flex;
    opacity: 1;
    animation: formFadeIn 1s; }
  @media only screen and (min-width: 56.25em) {
    .bookmark-form {
      flex-direction: row;
      flex-wrap: wrap; } }
  @media only screen and (min-width: 75em) {
    .bookmark-form {
      flex-direction: row;
      flex-wrap: nowrap; } }
  .bookmark-form__group {
    width: 100%;
    height: 30%;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media only screen and (min-width: 56.25em) {
      .bookmark-form__group {
        width: 50%; } }
    @media only screen and (min-width: 75em) {
      .bookmark-form__group {
        width: 40%; } }
  .bookmark-form__label {
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: 1px;
    color: #e66767;
    margin-bottom: 0.5rem; }
  .bookmark-form__input {
    display: block;
    width: 80%;
    font-size: 1.5rem;
    font-family: "Open Sans", sans-serif;
    border: none;
    padding: 1rem 2rem;
    border-bottom: 3px solid transparent;
    transition: all .3s;
    color: #3d3d3d; }
    @media only screen and (min-width: 37.5em) {
      .bookmark-form__input {
        width: 70%; } }
    @media only screen and (min-width: 56.25em) {
      .bookmark-form__input {
        width: 80%; } }
    .bookmark-form__input:focus {
      outline: none;
      border-bottom: 3px solid #ea8685;
      box-shadow: 0 0.4rem 0.8rem rgba(255, 255, 255, 0.1); }
  .bookmark-form__btn {
    display: block;
    margin: 2rem 0;
    padding: 1rem 2rem;
    border: none;
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 2rem;
    color: #ffffff;
    background-image: linear-gradient(to right bottom, #ea8685, #e66767);
    outline: none; }
    @media only screen and (min-width: 56.25em) {
      .bookmark-form__btn {
        margin: 2rem auto; } }
    .bookmark-form__btn:hover {
      cursor: pointer;
      background-image: linear-gradient(to right bottom, #e66767, #ea8685);
      box-shadow: 0 0.4rem 0.8rem rgba(255, 255, 255, 0.1); }

.bookmark {
  height: 10rem;
  width: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }
  .bookmark__content {
    height: 6rem;
    width: 6rem;
    position: relative; }
  .bookmark__icon {
    width: 2rem;
    height: 2rem; }
  .bookmark__link {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3d3d3d;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-radius: 50%;
    cursor: pointer;
    text-decoration: none;
    box-sizing: border-box;
    transition: all .3s; }
    .bookmark__link:hover {
      background-color: rgba(61, 61, 61, 0.7); }
  .bookmark__name {
    display: block;
    padding: 0.3rem;
    width: 100%;
    box-sizing: border-box;
    font-size: 1.1rem;
    text-align: center;
    font-weight: 400;
    color: #ffffff;
    background-color: #3d3d3d;
    border-radius: 1.5rem;
    text-decoration: none;
    cursor: pointer;
    transition: all .3s; }
    .bookmark__name:hover {
      color: #e66767;
      background-color: rgba(61, 61, 61, 0.7); }
  .bookmark__delete {
    position: absolute;
    top: 0;
    left: 100%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    background-color: #3d3d3d;
    border: 2px solid #e66767;
    text-decoration: none;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    border-radius: 50%;
    padding: 0.2rem;
    font-weight: 700;
    text-align: center;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all .3s; }
    .bookmark__delete:hover {
      background-color: #ea8685; }
